<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>HT Offline Music</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>NSExtensionActivationRule</key>
            <dict>
                <key>NSExtensionActivationSupportsFileWithMaxCount</key>
                <integer>10</integer>
                <key>NSExtensionActivationSupportsWebURLWithMaxCount</key>
                <integer>0</integer>
                <key>NSExtensionActivationSupportsWebPageWithMaxCount</key>
                <integer>0</integer>
                <key>NSExtensionActivationSupportsImageWithMaxCount</key>
                <integer>0</integer>
                <key>NSExtensionActivationSupportsMovieWithMaxCount</key>
                <integer>0</integer>
                <key>NSExtensionActivationSupportsAudioWithMaxCount</key>
                <integer>10</integer>
            </dict>
        </dict>
        <key>NSExtensionPrincipalClass</key>
        <string>$(PRODUCT_MODULE_NAME).ShareViewController</string>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.share-services</string>
    </dict>
    <key>NSExtensionServiceAllowsAttachments</key>
    <true/>
    <key>NSExtensionServiceAllowsAttachmentsWithMaxCount</key>
    <integer>10</integer>
    <key>NSExtensionServiceAllowsAttachmentsWithMaxCountPerType</key>
    <dict>
        <key>public.audio</key>
        <integer>10</integer>
        <key>public.mp3</key>
        <integer>10</integer>
        <key>public.m4a</key>
        <integer>10</integer>
        <key>public.wav</key>
        <integer>10</integer>
        <key>public.aiff</key>
        <integer>10</integer>
        <key>public.aifc</key>
        <integer>10</integer>
        <key>com.apple.m4a-audio</key>
        <integer>10</integer>
        <key>com.microsoft.waveform-audio</key>
        <integer>10</integer>
        <key>com.apple.coreaudio-format</key>
        <integer>10</integer>
        <key>public.aac</key>
        <integer>10</integer>
        <key>public.ac3</key>
        <integer>10</integer>
        <key>public.flac</key>
        <integer>10</integer>
        <key>com.apple.alac</key>
        <integer>10</integer>
        <key>public.movie</key>
        <integer>10</integer>
        <key>public.video</key>
        <integer>10</integer>
        <key>public.mpeg-4</key>
        <integer>10</integer>
        <key>public.3gpp</key>
        <integer>10</integer>
        <key>public.3gpp2</key>
        <integer>10</integer>
        <key>com.apple.m4v-video</key>
        <integer>10</integer>
        <key>com.apple.quicktime-movie</key>
        <integer>10</integer>
        <key>public.mpeg</key>
        <integer>10</integer>
        <key>public.mpeg-2-video</key>
        <integer>10</integer>
    </dict>
</dict>
</plist>
