# Flutter/Dart 相关
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
doc/api/
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Android 相关
/android/gradle-wrapper.jar
/android/.gradle
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/GeneratedPluginRegistrant.java
/android/app/debug
/android/app/profile
/android/app/release

# iOS 相关
/ios/Flutter/.last_build_id
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral
/ios/Flutter/App.framework
/ios/Pods/
/ios/*.mode1v3
/ios/*.mode2v3
/ios/*.moved-aside
/ios/*.pbxuser
/ios/*.perspectivev3
/ios/**/*sync/
/ios/.sconsign.dblite
/ios/.tags*
/ios/.vagrant/
/ios/DerivedData/
/ios/.symlinks/
/ios/profile
/ios/xcuserdata

# macOS 相关
/macos/Flutter/ephemeral
/macos/Flutter/GeneratedPluginRegistrant.*
/macos/Flutter/Flutter-Debug.xcconfig
/macos/Flutter/Flutter-Release.xcconfig
/macos/Flutter/Flutter-Profile.xcconfig
.DS_Store
.AppleDouble
.LSOverride

# Web 相关
/web/favicon.png
/web/icons/
/web/manifest.json
/web/version.json
*.dart.js
*.info.json
*.js.deps
*.js.map

# Go 相关
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
/go.sum

# 环境变量文件
.env*
