<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleLocalizations</key>
	<array>
	<string>ar</string>
	<string>de</string>
	<string>en</string>
	<string>es</string>
	<string>fil</string>
	<string>fr</string>
	<string>id</string>
	<string>it</string>
	<string>ja</string>
	<string>ko</string>
	<string>pl</string>
	<string>pt</string>
	<string>ru</string>
	<string>th</string>
	<string>tr</string>
	<string>vi</string>
	<string>zh-Hans</string>
	<string>zh-Hant</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>partygo</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>apple.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
