<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
				<string>m4a</string>
				<string>wav</string>
				<string>aiff</string>
				<string>aac</string>
				<string>flac</string>
				<string>alac</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>icon5_00</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio Files</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
				<string>public.mp3</string>
				<string>public.m4a</string>
				<string>public.wav</string>
				<string>public.aiff</string>
				<string>public.aifc</string>
				<string>com.apple.m4a-audio</string>
				<string>com.microsoft.waveform-audio</string>
				<string>com.apple.coreaudio-format</string>
				<string>public.aac</string>
				<string>public.ac3</string>
				<string>public.flac</string>
				<string>com.apple.alac</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>htofflinemusic</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
